@model PaginatedList<SAC_Web_Application.Models.ClubModel.Members>

@{
    ViewData["Title"] = "Index";
}

<h2>Members</h2>

<p>
    @*<a asp-action="Create" class="btn btn-success">Create New</a>*@
    <a asp-controller="Subscriptions" asp-action="Index" class="btn btn-success">Create New</a>
    <a asp-area="" asp-controller="Home" asp-action="Admin" class="btn btn-primary">Back to Admin</a>
</p>

<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Member List</strong>
    </div>

    <form asp-action="Index" method="get">
        <div class="form-actions no-color form-inline">
            <br />
            <p style="font-weight: bold" class="col-md-offset-1">
                Search by Name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                <input type="submit" value="Search" class="btn btn-xs btn-primary" />
                <a asp-action="Index" class="btn btn-xs btn-primary">Reset List</a>
            </p>
            
        </div>
    </form>


    <table class="table table-condensed table-hover table-responsive">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["FirstNameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">First Name</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["LastNameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Last Name</a>
                </th>               
                <th>
                    <a style="text-decoration: none; color: black">Email</a>
                </th>
                <th>
                    <a style="text-decoration: none; color: black">Phone Number</a>
                </th>
                <th>
                    <a style="text-decoration: none; color: black">Membership Paid</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MembershipPaid)
                    <td>
                        <a asp-action="Details" asp-route-id="@item.MemberID" class="btn btn-primary btn-xs">Details</a>
                        <a asp-action="Edit" asp-route-id="@item.MemberID" class="btn btn-warning btn-xs">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.MemberID" class="btn btn-danger btn-xs">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @{ 
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }
</div>
<div class="form-group">
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-page="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-primary @prevDisabled btn">
        Previous
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-page="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-primary @nextDisabled btn btn-primary">
        Next
    </a>
    <a asp-action="AnnualResetConfirm" class="btn btn-danger col-md-offset-6">Annual Reset</a>
</div>

