@model IEnumerable<SAC_Web_Application.Models.ClubModel.Members>

<div class="panel panel-default">
    <div class="panel-heading h3">Event Entries</div>
    <div class="panel-body">
        <table class="table table-hover table-responsive table-condensed">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>                   
                    <th>
                        @Html.DisplayNameFor(model => model.TeamName)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>                        
                        <td>
                            @Html.DisplayFor(modelItem => item.TeamName)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



