@using SAC_Web_Application.Models.ClubModel

@model SAC_Web_Application.Models.ClubModel.Events

@{
    ViewData["Title"] = "Details";

    List<Members> membersAttending = (List<Members>)ViewData["MembersAttending"];
    List<Members> membersNotAttending = (List<Members>)ViewData["MembersNotAttending"];
    List<Members> allMembersAttending = (List<Members>)ViewData["AllMembersAttending"];
    List<Members> allMembersNotAttending = (List<Members>)ViewData["AllMembersNotAttending"];
}

<h3>@Html.DisplayFor(model => model.EventTitle)</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
    </dl>
</div>

@*if user is an admin show all members otherwise show all associcated members*@
@if (User.IsInRole("Admin"))
{
    @*<div class="form-group">
        <a asp-action="AllDetails" asp-route-id="@Model.EventID" class="btn btn-primary">See All Entries</a>
    </div>*@

    if (allMembersAttending.Count != 0)
    {
        <div id="AllMembersAttending">
            @Html.Partial("~/Views/Events/_AllMembersAttending.cshtml", allMembersAttending)
        </div>
    }

    if (allMembersNotAttending.Count != 0)
    {
        <div id="AllMembersNotAttending">
            @Html.Partial("~/Views/Events/_AllMembersNotAttending.cshtml", allMembersNotAttending)
        </div>

    }

}
else
{
    @if (membersAttending.Count != 0)
    {
        <div id="MembersAttending">
            @Html.Partial("~/Views/Events/_MembersAttending.cshtml", membersAttending)
        </div>
    }

    @if (membersNotAttending.Count != 0)
    {
        <div id="MembersNotAttending">
            @Html.Partial("~/Views/Events/_MembersNotAttending.cshtml", membersNotAttending)
        </div>
    }

}




<div class="form-group">
    <a asp-action="Index" class="btn btn-primary">Back to Events</a>
</div>
